<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  body{
     margin: 0;
     padding: 0;
     background-color: aqua;
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 100vh;
  }

  .descomplica {
     font-size: 36px;
     color: blue;
     font-weigth: bold;
  }
</style>
<title>Descomplica</title>
</head>
<body>
  <div class="descomplica">Descomplica</div>
</body>
</html>